@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Universal selector: this applies to everything */
* {
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden; /* don't want to show scrollbars on x-axis by default */
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left; /* this ensures that rotation happens from top-left corner and not in the middle of the page */
  transition: transform 0.6s linear; /* adds a smooth transition of the page */
  width: 100vw;
  min-height: 100vh;
  padding: 50px; /* adds padding between browser border text */
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0; /* to get rid of the black border */
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none; /* to get rid of the border when on focus */
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s; 
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none; /* gets rid of bullet points */
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%); /* need to set aside the navs so that it slides in when the page moves out */
  transition: transform 0.4s ease-in; /* for smooth transition I'm applying this to "transform" property */
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 10px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 20px;
  transform: translateX(-200%);
}

.content img {
  max-width: 100%; /* sets the image to 100% of its content */
}

.content {
  max-width: 1000px; /* this ensures that the maximum width of the content stays 1000px */
  margin: 50px auto; /* this ensures that the content stays in the middle - left and right are auto aligned */
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}
